<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-notification-rules">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-address-book"></i>
                </button>
                <span class="item-text text-truncate">Student Incident Management</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <button class="btn btn-light" type="button" data-toggle="dropdown">
                  Notification Rules <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/{{userRole}}/incidents/student_incidents">Student Incidents</a>
                  <a class="dropdown-item" href="/{{userRole}}/incidents/report">Incidents Report</a>
                  <a class="dropdown-item" href="/{{userRole}}/incidents/categories">Incident Category</a>
                  <a class="dropdown-item" href="/{{userRole}}/incidents/notification_rules">Notification Rules</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/incidents/student_incidents">
                  Student Incidents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/incidents/report">
                  Incidents Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/incidents/categories">
                  Incident Category
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{userRole}}/incidents/notification_rules">
                  Notification Rules
                </a>
              </li>
            </ul>
          </div>
          <div class="article-body">
            <div class="loading-state d-none">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="empty-state d-none">Oops, nothing to see here!</div>
            <nav class="navbar navbar-expand">
              <div class="navbar-text">5 records found</div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button class="btn btn-primary btn-create" type="button">
                    <i class="fas fa-plus"></i> New
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-secondary btn-edit d-none" type="button">
                    Edit
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-secondary btn-delete d-none" type="button">
                    Delete
                  </button>
                </li>
              </ul>
            </nav>
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Rule Name</th>
                  <th>Incident Category</th>
                  <th>Recipient</th>
                  <th>Notify Via</th>
                </tr>
              </thead>
              <tbody>                
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item0" name="rule">
                      <label class="custom-control-label" for="item0"></label>
                    </div>
                  </td>
                  <td>Rule 1</td>
                  <td>Attendance</td>
                  <td>Parents</td>
                  <td>Email, SMS</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item1" name="rule">
                      <label class="custom-control-label" for="item1"></label>
                    </div>
                  </td>
                  <td>Rule 2</td>
                  <td>Misconduct</td>
                  <td>Form Teacher</td>
                  <td>Email</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item2" name="rule">
                      <label class="custom-control-label" for="item2"></label>
                    </div>
                  </td>
                  <td>Rule 3</td>
                  <td>Theft/Damage of property</td>
                  <td>Parents, Form Teacher</td>
                  <td>Email, SMS</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item3" name="rule">
                      <label class="custom-control-label" for="item3"></label>
                    </div>
                  </td>
                  <td>Rule 4</td>
                  <td>Gambling</td>
                  <td>Parents, Form Teacher</td>
                  <td>Email, SMS</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item4" name="rule">
                      <label class="custom-control-label" for="item4"></label>
                    </div>
                  </td>
                  <td>Rule 5</td>
                  <td>Other Incidents (Serious)</td>
                  <td>Parents, Form Teacher</td>
                  <td>Email, SMS</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>

<div class="modal modal-notification-rule-create fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Notification Rule</h5>
        <button type="button" class="close" title="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-create-notification-rule">
          <div class="form-group">
            <label class="form-label" for="txtName0">Rule Name</label>
            <div class="form-group">
              <input class="form-control form-input" type="text" id="txtName0">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="selCategory0">Incident Category</label>
            <div class="form-group">
              <select class="form-control selectpicker" id="selCategory0">
                <option selected>All</option>
                <option>Attendance</option>
                <option>Misconduct</option>
                <option>Theft/Damage of property</option>
                <option>Gambling</option>
                <option>Other Incidents (Serious)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Recipient</label>
            <div class="form-group">
              <div class="checkbox-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="parents0">
                  <label class="custom-control-label" for="parents0">Parents</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="teacher0">
                  <label class="custom-control-label" for="teacher0">Form Teacher</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="counselor0">
                  <label class="custom-control-label" for="counselor0">Counselor</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="vprincipal0">
                  <label class="custom-control-label" for="vprincipal0">Vice Principal</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="principal0">
                  <label class="custom-control-label" for="principal0">Principal</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Notify Via</label>
            <div class="form-group">
              <div class="checkbox-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="email0">
                  <label class="custom-control-label" for="email0">Email</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="sms0">
                  <label class="custom-control-label" for="sms0">SMS</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-notification-rule-edit fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Notification Rule</h5>
        <button type="button" class="close" title="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-edit-notification-rule">
          <div class="form-group">
            <label class="form-label" for="txtName1">Rule Name</label>
            <div class="form-group">
              <input class="form-control form-input" type="text" id="txtName1" value="Rule 1">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="selCategory1">Incident Category</label>
            <div class="form-group">
              <select class="form-control selectpicker" id="selCategory1">
                <option selected>All</option>
                <option>Attendance</option>
                <option>Misconduct</option>
                <option>Theft/Damage of property</option>
                <option>Gambling</option>
                <option>Other Incidents (Serious)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="selRecipient1">Recipient</label>
            <div class="form-group">
              <div class="checkbox-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="parents1" checked>
                  <label class="custom-control-label" for="parents1">Parents</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="teacher1">
                  <label class="custom-control-label" for="teacher1">Form Teacher</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="counselor1">
                  <label class="custom-control-label" for="counselor1">Counselor</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="vprincipal1">
                  <label class="custom-control-label" for="vprincipal1">Vice Principal</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="principal1">
                  <label class="custom-control-label" for="principal1">Principal</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="selFrequency1">Notify Via</label>
            <div class="form-group">
              <div class="checkbox-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="email1" checked>
                  <label class="custom-control-label" for="email1">Email</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="sms1" checked>
                  <label class="custom-control-label" for="sms1">SMS</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-notification-rule-delete-confirmation fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" title="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the notification rule?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
