<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-update-personal-particulars">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-user-cog"></i>
                </button>
                <span class="item-text text-truncate">About Me</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <button class="btn btn-light" type="button" data-toggle="dropdown">
                  Update Personal Particulars <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_profile_picture">Update Profile Picture</a>
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_particulars">Update Personal Particulars</a>
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_settings">Update Personal Settings</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/profile/update_profile_picture">
                  Update Profile Picture
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{userRole}}/profile/update_personal_particulars">
                  Update Personal Particulars
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/profile/update_personal_settings">
                  Update Personal Settings
                </a>
              </li>
            </ul>
          </div>
          <div class="article-body">
            <form class="form-personal-particulars">
              <div class="form-group">
                <label class="form-label" for="selGender">Gender</label>
                <select class="form-control selectpicker" id="selGender" data-container=".article-body">
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
              <div class="form-group has-error">
                <label class="form-label" for="txtEmail">Email Address</label>
                <input class="form-control form-input" type="text" id="txtEmail">
                <div class="form-text text-danger">
                  Email address is not valid.
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtMobile">Mobile Phone</label>
                <input class="form-control form-input" type="text" id="txtMobile">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
