<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-update-profile-picture">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-user-cog"></i>
                </button>
                <span class="item-text text-truncate">About Me</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <button class="btn btn-light" type="button" data-toggle="dropdown">
                  Update Profile Picture <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_profile_picture">Update Profile Picture</a>
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_particulars">Update Personal Particulars</a>
                  <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_settings">Update Personal Settings</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">
              <li class="nav-item">
                <a class="nav-link active" href="/{{userRole}}/profile/update_profile_picture">
                  Update Profile Picture
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/profile/update_personal_particulars">
                  Update Personal Particulars
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/profile/update_personal_settings">
                  Update Personal Settings
                </a>
              </li>
            </ul>
          </div>
          <div class="article-body">
            <form class="form-profile-picture">
              <div class="form-group">
                <div class="file-upload">
                  <div class="file-upload-control">
                    <div class="text-muted">Drag and drop files here</div>
                    <div class="text-muted">or</div>
                    <button class="btn btn-outline-secondary btn-upload" type="button">
                      Select files to upload
                    </button>
                  </div>
                  <div class="file-group d-none"></div>
                </div>
                <div class="image-cropper d-none">
                  <img src="/static/images/user.png">
                </div>
              </div>
              <div class="form-group form-group-actions d-none">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-file-remove-confirmation fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" title="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove the file?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="toast-stack d-none">
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <i class="img img-toast-error"></i>
      You cannot upload more than one file.
    </div>
  </div>
</div>

<script id="preview" type="text/x-template">
  <div class="file-preview">
    <div class="file-actions">
      <button class="btn btn-light btn-delete" type="button" title="Delete">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <div class="file-details">
      <div class="file-thumbnail">
      </div>
      <div class="file-filename">
        <div class="file-name"></div>
        <div class="file-size text-muted"></div>
      </div>
    </div>
    <div class="file-progress">
      <div class="progress-bar"></div>
    </div>  
    <div class="file-message">
      <div class="text-success"></div>
      <div class="text-danger"></div>
    </div>
    <input class="file-uuid" type="hidden" />
  </div>
</script>
