<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-class-attendance-report">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-calendar-check"></i>
                </button>
                <span class="item-text text-truncate">Remedial Class Attendance</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <button class="btn btn-light" type="button" data-toggle="dropdown">
                  Attendance Report <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/{{userRole}}/attendances/attendance_taking">Remedial Sessions</a>
                  <a class="dropdown-item" href="/{{userRole}}/attendances/long_absences">Long Absences</a>
                  <a class="dropdown-item" href="/{{userRole}}/attendances/report">Attendance Report</a>
                  <a class="dropdown-item" href="/{{userRole}}/attendances/class_report">Class Attendance Report</a>
                  <a class="dropdown-item" href="/{{userRole}}/attendances/notification_rules">Notification Rules</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav nav-main">
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dialog">
                <button class="btn btn-light btn-toggle" type="button" data-toggle='dialog' title="Filters">
                  <i class="fas fa-filter"></i>
                </button>
                <div class="dialog-menu dialog-menu-right dialog-menu-filters">
                  <form class="form-filters">
                    <div class="form-group">
                      <label class="form-label" for="selGrade">Grade</label>
                      <select class="form-control selectpicker" id="selGrade">
                        <option selected>All</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selClass">Remedial Class</label>
                      <select class="form-control selectpicker" id="selClass">
                        <option selected="">All</option>
                        <option>P1 Maths Remedial</option>
                        <option>P2 Maths Remedial</option>
                        <option>P3 Maths Remedial</option>
                        <option>P4 Maths Remedial</option>
                        <option>P5 Maths Remedial</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="txtStartDate">Start Date</label>
                      <input class="form-control form-input" type="text" id="txtStartDate">
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="txtEndDate">End Date</label>
                      <input class="form-control form-input" type="text" id="txtEndDate">
                    </div>
                    <div class="form-group form-group-actions">
                      <button class="btn btn-light" type="button">Reset</button> 
                      <button class="btn btn-primary" type="button">Apply</button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/attendances/attendance_taking">
                  Remedial Sessions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/attendances/long_absences">
                  Long Absences
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/attendances/report">
                  Attendance Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{userRole}}/attendances/class_report">
                  Class Attendance Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/attendances/notification_rules">
                  Notification Rules
                </a>
              </li>
            </ul>
          </div>
          <div class="article-body">
            <div class="loading-state d-none">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="empty-state d-none">Oops, nothing to see here!</div>
            <nav class="navbar navbar-expand">
              <div class="navbar-text">5 records found</div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button class="btn btn-primary btn-create" type="button">
                    <i class="fas fa-file-export"></i> Export
                  </button>
                </li>
              </ul>
            </nav>
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Remedial Class</th>
                  <th>Attendance Date</th>
                  <th>Status</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Amos Chee</td>
                  <td>P1 Maths Remedial</td>
                  <td>07 Aug 2019</td>
                  <td>Absent with MC</td>
                  <td>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  </td>
                </tr>
                <tr>
                  <td>Charles Tan</td>
                  <td>P1 Maths Remedial</td>
                  <td>07 Aug 2019</td>
                  <td>Absent with MC</td>
                  <td>
                    Aenean commodo ligula eget dolor.
                  </td>
                </tr>
                <tr>
                  <td>Faisal Manaf</td>
                  <td>P1 Maths Remedial</td>
                  <td>07 Aug 2019</td>
                  <td>Present</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>Vivian Lim</td>
                  <td>P1 Maths Remedial</td>
                  <td>07 Aug 2019</td>
                  <td>Present</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>Zachary Teo</td>
                  <td>P1 Maths Remedial</td>
                  <td>07 Aug 2019</td>
                  <td>Present</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>
