<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/solid.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body>
    <div class="app-container">
      {{#if infoPage}}
        <div class="navbar navbar-expand app-header">
          <div class="navbar-brand d-block">
            <img src="/static/images/logo_mceduworld.png"/>
          </div>
          <ul class="navbar-nav nav-main"></ul>
        </div>
      {{/if}}
      {{#if loggedIn}}
        <div class="navbar navbar-expand app-header">
          <button class="btn btn-light btn-menu" type="button" data-toggle="drawer" data-target=".drawer">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/{{userRole}}/home">
            <img src="/static/images/logo_mceduworld.png"/>
          </a>
          <div class="navbar-text">
            {{#if homePage}}My Library{{/if}}
            {{#if resourcesPage}}My Resources{{/if}}
            {{#if reportsPage}}My Reports{{/if}}
            {{#if adminPage}}Administration{{/if}}
            {{#if profilePage}}About Me{{/if}}
            {{#if passwordPage}}Administration{{/if}}
          </div>
          <ul class="navbar-nav nav-main">
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link {{#if homePage}}active{{/if}}" href="/{{userRole}}/home">
                  <i class="img img-mylibaray"></i> My Library
                </a>
              </li>
              {{#unless studentUser}}
                <li class="nav-item">
                  <a class="nav-link {{#if resourcesPage}}active{{/if}}" href="/{{userRole}}/resources/resources">
                    <i class="img img-myresources"></i> My Resources
                  </a>
                </li>
              {{/unless}}
              <li class="nav-item">
                <a class="nav-link {{#if reportsPage}}active{{/if}}" href="/{{userRole}}/reports/reports">
                  <i class="img img-myreports"></i> My Reports
                </a>
              </li>
              {{#if adminUser}}
                <li class="nav-item">
                  <a class="nav-link {{#if adminPage}}active{{/if}}" href="/{{userRole}}/administration/administration">
                    <i class="img img-myreports"></i> Administration
                  </a>
                </li>
              {{/if}}
              {{#unless loggedIn}}
                <li class="nav-item dropdown">
                  <button class="btn btn-light" type="button" data-toggle="dropdown">
                    <i class="fas fa-th"></i> Subjects
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/subject">
                      English
                    </a>
                    <a class="dropdown-item" href="/subject">
                      Humanities</a>
                    <a class="dropdown-item" href="/subject">
                      Mathematics
                    </a>
                    <a class="dropdown-item" href="/subject">
                      Science
                    </a>
                  </div>
                </li>
                <li class="nav-item search">
                  <div class="input-group append input-search">
                    <input type="text" class="form-control" placeholder="Search for a resource to preview">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="btn btn-light" href="/admin/home">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-light" href="/admin/tools">
                    Tools
                  </a>
                </li>
              {{/unless}}
            {{/if}}
          </ul>
          <ul class="navbar-nav">
            {{#if loggedIn}}
            <li class="nav-item dropdown dropdown-user">
              <button class="btn btn-light btn-user" type="button" data-toggle="dropdown">
                <img src="/static/images/user.png"/>
                <div class="user-summary">
                  <div class="user-info">
                    I'm
                    <span class="user-name text-truncate">
                      {{#if studentUser}}Aaron Tan{{/if}}
                      {{#if teacherUser}}Derrick Chua{{/if}}
                      {{#if adminUser}}Ernest  Goh{{/if}}
                    </span>
                  </div>
                  <div class="user-role">
                    {{#if studentUser}}I study. :){{/if}}
                    {{#if teacherUser}}I teach. :){{/if}}
                    {{#if adminUser}}I administer. :){{/if}}
                  </div>
                </div>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="user-account">
                  <img src="/static/images/user.png"/>
                  <div class="user-summary">
                    <div class="user-info d-block">
                      I'm
                      <span class="user-name text-truncate">
                        {{#if studentUser}}Aaron Tan{{/if}}
                        {{#if teacherUser}}Derrick Chua{{/if}}
                        {{#if adminUser}}Ernest  Goh{{/if}}
                      </span>
                    </div>
                    <div class="user-role">
                      {{#if studentUser}}I study. :){{/if}}
                      {{#if teacherUser}}I teach. :){{/if}}
                      {{#if adminUser}}I administer. :){{/if}}
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_particulars">
                  <i class="fas fa-user"></i> About Me
                </a>
                <a class="dropdown-item" href="/{{userRole}}/profile/change_password">
                  <i class="fas fa-key"></i> Change Password
                </a>
                <a class="dropdown-item" href="/signout">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
      {{{body}}}
      <div class="app-footer">
        <ul class="nav nav-light">
          <li class="nav-item">
            <a class="nav-link" href="/privacy" target="_blank">
              Data Protection & Privacy Statement
            </a>
          </li>
          <li class="nav-divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="/terms" target="_blank">
              Terms & Conditions
            </a>
          </li>
        </ul>
        <div class="text-truncate copyright">
          Copyright © 2019 Marshall Cavendish Education Pte. Ltd.
        </div>
        <a class="company-logo" href="http://www.mceducation.com">
          <img src="/static/images/mce_logo_white.png"/>
        </a>
      </div>
    </div>
    <div class="drawer">
      <nav class="navbar">
        <a class="navbar-brand" href="/{{userRole}}/home">
          <img src="/static/images/logo_mceduworld.png"/>
        </a>
        <div class="navbar-content">
          <ul class="navbar-nav">
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link {{#if homePage}}active{{/if}}" href="/{{userRole}}/home">
                  <i class="img img-mylibaray"></i> My Library
                </a>
              </li>
              {{#unless studentUser}}
                <li class="nav-item">
                  <a class="nav-link {{#if resourcesPage}}active{{/if}}" href="/{{userRole}}/resources/resources">
                    <i class="img img-myresources"></i> My Resources
                  </a>
                </li>
              {{/unless}}
              <li class="nav-item">
                <a class="nav-link {{#if reportsPage}}active{{/if}}" href="/{{userRole}}/reports/reports">
                  <i class="img img-myreports"></i> My Reports
                </a>
              </li>
              {{#if adminUser}}
                <li class="nav-item">
                  <a class="nav-link {{#if adminPage}}active{{/if}}" href="/{{userRole}}/administration/administration">
                    <i class="img img-myreports"></i> Administration
                  </a>
                </li>
              {{/if}}
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/popper/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/static/moment/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <script src="/static/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/javascripts/application.js"></script>
    <script src="/static/javascripts/{{module}}.js"></script>
  </body>
</html>
