<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body>
    <div class="app-container">
      {{#if loggedIn}}
        <div class="navbar navbar-expand app-header">
          {{#unless loggedIn}}
            <a class="navbar-brand" href="/">
              <img src="/static/images/mco_logo.gif"/>
            </a>
          {{/unless}}
          {{#if loggedIn}}        
            <a class="navbar-brand" href="/{{userRole}}/home">
              <img src="/static/images/mco_logo.gif"/>
            </a>
          {{/if}}
          <ul class="navbar-nav nav-main">
            {{#if loggedIn}}
              {{#if portalPage}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{userRole}}/home">
                    My Channels
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{userRole}}/resources/resources">
                    My Resources
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{userRole}}/reports/reports">
                    My Reports
                  </a>
                </li>
              {{/if}}
              {{#unless mainPage}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{userRole}}/home">
                    Main Page
                  </a>
                </li>
              {{/unless}}
              {{#unless loggedIn}}
                <li class="nav-item dropdown">
                  <button class="btn btn-light" type="button" data-toggle="dropdown">
                    <i class="fa fa-th"></i> Subjects
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/subject">
                      English
                    </a>
                    <a class="dropdown-item" href="/subject">
                      Humanities</a>
                    <a class="dropdown-item" href="/subject">
                      Mathematics
                    </a>
                    <a class="dropdown-item" href="/subject">
                      Science
                    </a>
                  </div>
                </li>
                <li class="nav-item search">
                  <div class="input-group append input-search">
                    <input type="text" class="form-control" placeholder="Search for a resource to preview">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="btn btn-light" href="/admin/home">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-light" href="/admin/tools">
                    Tools
                  </a>
                </li>
              {{/unless}}
            {{/if}}
          </ul>
          <ul class="navbar-nav">
            {{#if loggedIn}}
            <li class="nav-item dropdown">
              <button class="btn btn-light btn-user" type="button" data-toggle="dropdown">
                <img src="/static/images/user.png"/>
                <span class="user-name">
                  {{#if studentUser}}Primary 1 Student{{/if}}
                  {{#if teacherUser}}Teacher{{/if}}
                  {{#if adminUser}}Admin{{/if}}
                </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">            
                <a class="dropdown-item" href="/{{userRole}}/profile/update_personal_particulars">
                  <i class="fa fa-user-circle"></i> My Particulars
                </a>
                <a class="dropdown-item" href="/{{userRole}}/profile/change_password">
                  <i class="fa fa-key"></i> Change Password
                </a>
                <a class="dropdown-item" href="/signout">
                  <i class="fa fa-sign-out"></i> Logout
                </a>
              </div>
            </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
      {{{body}}}
      <div class="app-footer">
        {{#unless loggedIn}}
          <select class="selectpicker" data-width="auto" data-icon-base="fa">
            <option value="Bahasa Indonesia" data-icon="fa-globe">Bahasa Indonesia</option>
            <option value="Chinese" data-icon="fa-globe">Chinese</option>
            <option value="Spanish" data-icon="fa-globe">Spanish</option>
          </select>
        {{/unless}}
        <div class="copyright">
          Copyright © 2019 Marshall Cavendish Education Pte. Ltd.
        </div>
        <ul class="nav nav-light">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Data Protection and Privacy Statement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Terms & Conditions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/popper/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/static/chart.js/Chart.js"></script>
    <script src="/static/moment/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <script src="/static/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/javascripts/{{module}}.js"></script>
  </body>
</html>
