<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/solid.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/cropperjs/cropper.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body>
    <div class="app-container">
      {{#if infoPage}}
        <div class="navbar navbar-expand app-header">
          <div class="navbar-brand d-block">
            <img src="/static/images/logo_mceduhub.png"/>
          </div>
          <ul class="navbar-nav nav-main"></ul>
        </div>
      {{/if}}
      {{#if errorPage}}
        {{#unless loggedIn}}
          <div class="navbar navbar-expand app-header">
            <a class="navbar-brand d-block" href="/">
              <img src="/static/images/logo_mceduhub.png"/>
            </a>
            <ul class="navbar-nav nav-main"></ul>
          </div>
        {{/unless}}
      {{/if}}
      {{#if loggedIn}}
        <div class="navbar navbar-expand app-header">
          <button class="btn btn-light btn-menu" type="button" data-toggle="drawer" data-target=".drawer">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/{{userRole}}/home">
            <img src="/static/images/logo_mceduhub.png"/>
          </a>
          <div class="navbar-text">
            {{#if homePage}}My Library{{/if}}
            {{#if assignmentsPage}}My Assignments{{/if}}
            {{#if resourcesPage}}My Resources{{/if}}
            {{#if reportsPage}}My Reports{{/if}}
            {{#if lessonsPage}}Lesson Builder{{/if}}
            {{#if testsPage}}Test Builder{{/if}}
            {{#if questionsPage}}Question Builder{{/if}}
            {{#if notificationsPage}}Notifications{{/if}}
            {{#if announcementsPage}}Announcements{{/if}}
            {{#if profilePage}}About Me{{/if}}
            {{#if passwordPage}}User Administration{{/if}}
            {{#if schoolPage}}Manage School{{/if}}
            {{#if userAccountPage}}Manage User Account{{/if}}
            {{#if formClassPage}}Manage Form Class{{/if}}
            {{#if schoolGroupPage}}Manage School Group{{/if}}
            {{#if loginAsStudentPage}}Login to Student Account{{/if}}
            {{#if loginAsTeacherPage}}Login to Teacher Account{{/if}}
            {{#if legacyPage}}Legacy Page{{/if}}
            {{#if errorPage}}Page Not Found{{/if}}
          </div>
          <ul class="navbar-nav nav-main">
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link link-mylibrary {{#if homePage}}active{{/if}}" href="/{{userRole}}/home">
                  <i class="img img-mylibrary"></i> My Library
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-myassignments {{#if assignmentsPage}}active{{/if}}" href="/{{userRole}}/assignments/assignments">
                  <i class="img img-myresources"></i> My Assignments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-myresources {{#if resourcesPage}}active{{/if}}" href="/{{userRole}}/resources/resources">
                  <i class="img img-myresources"></i> My Resources
                </a>
              </li>
              {{#unless studentUser}}
                <li class="nav-item dropdown">
                  <a class="nav-link link-mytools" href="#" data-toggle="dropdown">
                    <i class="img img-myreports"></i> My Tools
                  </a>
                  <div class="dropdown-menu">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/lessons/lessons">
                          <i class="img img-myreports"></i> Lesson Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/tests/tests">
                          <i class="img img-myreports"></i> Test Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/questions/questions">
                          <i class="img img-myreports"></i> Question Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/legacy/legacy">
                          <i class="img img-myreports"></i> School To Home Notes
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              {{/unless}}
              <li class="nav-item dropdown">
                <a class="nav-link link-myreports" href="#" data-toggle="dropdown">
                  <i class="img img-myreports"></i> My Reports
                </a>
                <div class="dropdown-menu">
                  <ul class="nav">
                    {{#if studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> How Well I've Done
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> How Much I've Completed
                        </a>
                      </li>
                    {{/if}}
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> Mastery Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> Usage Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=login">
                          <i class="img img-myreports"></i> Login Report
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link link-schoolmatters" href="#" data-toggle="dropdown">
                  <i class="img img-myreports"></i> School Matters
                </a>
                <div class="dropdown-menu">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/{{userRole}}/notifications/notifications">
                        <i class="img img-myreports"></i> Notifications
                      </a>
                    </li>
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/announcements/announcements">
                          <i class="img img-myreports"></i> Announcements
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/facility_booking/facility_booking">
                          <i class="img img-myreports"></i> Facility Booking
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/mark_attendance/mark_attendance">
                          <i class="img img-myreports"></i> Mark Attendance
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                </div>
              </li>
              {{#if adminUser}}
                <li class="nav-item dropdown">
                  <a class="nav-link link-administration" href="#" data-toggle="dropdown">
                    <i class="img img-administration"></i> Administration
                  </a>
                  <div class="dropdown-menu">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_school">
                          <i class="img img-administration"></i> Manage School
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_user_account">
                          <i class="img img-administration"></i> Manage User Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_form_class">
                          <i class="img img-administration"></i> Manage Form Class
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_school_group">
                          <i class="img img-administration"></i> Manage School Group
                        </a>
                      </li>
                      <li class="nav-item d-none">
                        <a class="nav-link" href="/{{userRole}}/administration/access_levels">
                          <i class="img img-administration"></i> Access Levels
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/login_as_student">
                          <i class="img img-administration"></i> Login to Student Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/login_as_teacher">
                          <i class="img img-administration"></i> Login to Teacher Account
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              {{/if}}
              <li class="nav-item dropdown dropdown-more">
                <a class="nav-link link-more" href="#" data-toggle="dropdown">
                  <i class="img img-myreports"></i> More
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-more">
                  {{#unless studentUser}}
                    <ul class="nav">
                      <li class="nav-item">
                        <div class="nav-text">
                          <i class="img img-myreports"></i> My Tools
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/lessons/lessons">
                          <i class="img img-myreports"></i> Lesson Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/tests/tests">
                          <i class="img img-myreports"></i> Test Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/questions/questions">
                          <i class="img img-myreports"></i> Question Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/legacy/legacy">
                          <i class="img img-myreports"></i> School To Home Notes
                        </a>
                      </li>
                    </ul>
                  {{/unless}}
                  <ul class="nav">                    
                    <li class="nav-item">
                      <div class="nav-text">
                        <i class="img img-myreports"></i> My Reports
                      </div>
                    </li>
                    {{#if studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> How Well I've Done
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> How Much I've Completed
                        </a>
                      </li>
                    {{/if}}
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> Mastery Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> Usage Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/reports/reports?type=login">
                          <i class="img img-myreports"></i> Login Report
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="nav-text">
                        <i class="img img-myreports"></i> School Matters
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/{{userRole}}/notifications/notifications">
                        <i class="img img-myreports"></i> Notifications
                      </a>
                    </li>
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/announcements/announcements">
                          <i class="img img-myreports"></i> Announcements
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/facility_booking/facility_booking">
                          <i class="img img-myreports"></i> Facility Booking
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/mark_attendance/mark_attendance">
                          <i class="img img-myreports"></i> Mark Attendance
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                  {{#if adminUser}}
                    <ul class="nav">
                      <li class="nav-item">
                        <div class="nav-text">
                          <i class="img img-administration"></i> Administration
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_school">
                          <i class="img img-administration"></i> Manage School
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_user_account">
                          <i class="img img-administration"></i> Manage User Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_form_class">
                          <i class="img img-administration"></i> Manage Form Class
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/manage_school_group">
                          <i class="img img-administration"></i> Manage School Group
                        </a>
                      </li>
                      <li class="nav-item d-none">
                        <a class="nav-link" href="/{{userRole}}/administration/access_levels">
                          <i class="img img-administration"></i> Access Levels
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/login_as_student">
                          <i class="img img-administration"></i> Login to Student Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/administration/login_as_teacher">
                          <i class="img img-administration"></i> Login to Teacher Account
                        </a>
                      </li>
                    </ul>
                  {{/if}}
                </div>
              </li>              
            {{/if}}
          </ul>
          <ul class="navbar-nav">
            {{#if loggedIn}}
              <li class="nav-item dropdown dropdown-notifications">
                <button class="btn btn-light btn-notifications" type="button" data-toggle="dropdown">
                  <i class="fas fa-bell"></i>
                  <span class="badge badge-dark">4</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <nav class="navbar navbar-expand">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <div class="nav-text">Notifications</div>
                      </li>
                    </ul>
                    <ul class="navbar-nav nav-light">
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          Mark all as read
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div class="list-notifications">
                    <div class="list-group list-group-flush">
                      <div class="list-group-item list-group-item-action active">
                        <div class="notification">
                          <img src="/static/images/user.png">
                          <div class="notification-body">
                            <div class="notification-text">
                              <span class="user-name">Derrick Chua</span>
                              sent you an announcement.
                            </div>
                            <div class="text-muted">
                              2 min ago
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action active">
                        <div class="notification">
                          <img src="/static/images/user.png">
                          <div class="notification-body">
                            <div class="notification-text">
                              <span class="user-name">Joel King</span>
                              assigned you a lesson to learn.
                            </div>
                            <div class="text-muted">
                              3 hours ago
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action">
                        <div class="notification">
                          <img src="/static/images/user.png">
                          <div class="notification-body">
                            <div class="notification-text">
                              <span class="user-name">John Doe</span>
                              share a lesson to you to review.
                            </div>
                            <div class="text-muted">
                              5 hours ago
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item list-group-item-action">
                        <div class="notification">
                          <img src="/static/images/user.png">
                          <div class="notification-body">
                            <div class="notification-text">
                              <span class="user-name">Emily Carter</span>
                              share a quiz to you to review.
                            </div>
                            <div class="text-muted">
                              1 day ago
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-light">
                    <li class="nav-item">
                      <a class="nav-link d-block text-center" href="/{{userRole}}/notifications/notifications">
                        View all notifications
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-user">
                <button class="btn btn-light btn-user" type="button" data-toggle="dropdown">
                  <img src="/static/images/user.png"/>
                  <div class="user-summary">
                    <div class="user-info">
                      I'm
                      <span class="user-name text-truncate">
                        {{#if studentUser}}Aaron Tan{{/if}}
                        {{#if teacherUser}}Derrick Chua{{/if}}
                        {{#if adminUser}}Ernest  Goh{{/if}}
                      </span>
                    </div>
                    <div class="user-role">
                      {{#if studentUser}}I study. :){{/if}}
                      {{#if teacherUser}}I teach. :){{/if}}
                      {{#if adminUser}}I administer. :){{/if}}
                    </div>
                  </div>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="user-account">
                    <img src="/static/images/user.png"/>
                    <div class="user-summary">
                      <div class="user-info d-block">
                        I'm
                        <span class="user-name text-truncate">
                          {{#if studentUser}}Aaron Tan{{/if}}
                          {{#if teacherUser}}Derrick Chua{{/if}}
                          {{#if adminUser}}Ernest  Goh{{/if}}
                        </span>
                      </div>
                      <div class="user-role">
                        {{#if studentUser}}I study. :){{/if}}
                        {{#if teacherUser}}I teach. :){{/if}}
                        {{#if adminUser}}I administer. :){{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <ul class="nav">
                    <div class="nav-item">
                      <a class="nav-link" href="/{{userRole}}/profile/update_personal_particulars">
                        <i class="fas fa-user"></i> About Me
                      </a>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link" href="/{{userRole}}/profile/change_password">
                        <i class="fas fa-key"></i> Change Password
                      </a>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link" href="/signout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                      </a>
                    </div>
                  </ul>
                </div>
              </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
      {{{body}}}
      <div class="app-footer">
        <ul class="nav nav-light">
          <li class="nav-item">
            <a class="nav-link" href="/privacy" target="_blank">
              Data Protection & Privacy Statement
            </a>
          </li>
          <li class="nav-divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="/terms" target="_blank">
              Terms & Conditions
            </a>
          </li>
        </ul>
        <div class="text-truncate copyright">
          Copyright © 2019 Marshall Cavendish Education Pte. Ltd.
        </div>
        <a class="company-logo" href="http://www.mceducation.com">
          <img src="/static/images/mce_logo_white.png"/>
        </a>
      </div>
    </div>
    <div class="drawer">
      <nav class="navbar">
        <a class="navbar-brand" href="/{{userRole}}/home">
          <img src="/static/images/logo_mceduhub.png"/>
        </a>
        <div class="navbar-content">
          <ul class="navbar-nav">
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link {{#if homePage}}active{{/if}}" href="/{{userRole}}/home">
                  <i class="img img-mylibrary"></i> My Library
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#if assignmentsPage}}active{{/if}}" href="/{{userRole}}/assignments/assignments">
                  <i class="img img-myresources"></i> My Assignments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#if resourcesPage}}active{{/if}}" href="/{{userRole}}/resources/resources">
                  <i class="img img-myresources"></i> My Resources
                </a>
              </li>
              {{#unless studentUser}}
                <li class="nav-item collapsible">
                  <a class="nav-link collapsed" href="#tools" data-toggle="collapse">
                    <i class="img img-myreports"></i> My Tools
                  </a>
                  <div class="collapse" id="tools">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link {{#if lessonsPage}}active{{/if}}" href="/{{userRole}}/lessons/lessons">
                          <i class="img img-myreports"></i> Lesson Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if testsPage}}active{{/if}}" href="/{{userRole}}/tests/tests">
                          <i class="img img-myreports"></i> Test Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if questionsPage}}active{{/if}}" href="/{{userRole}}/questions/questions">
                          <i class="img img-myreports"></i> Question Builder
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/{{userRole}}/legacy/legacy">
                          <i class="img img-myreports"></i> School To Home Notes
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              {{/unless}}
              <li class="nav-item collapsible">
                <a class="nav-link collapsed" href="#reports" data-toggle="collapse">
                  <i class="img img-myreports"></i> My Reports
                </a>
                <div class="collapse" id="reports">
                  <ul class="nav">
                    {{#if studentUser}}
                      <li class="nav-item">
                        <a class="nav-link {{#if proficiencyReport}}active{{/if}}" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> How Well I've Done
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if usageReport}}active{{/if}}" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> How Much I've Completed
                        </a>
                      </li>
                    {{/if}}
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link {{#if proficiencyReport}}active{{/if}}" href="/{{userRole}}/reports/reports?type=proficiency">
                          <i class="img img-myreports"></i> Mastery Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if usageReport}}active{{/if}}" href="/{{userRole}}/reports/reports?type=usage">
                          <i class="img img-myreports"></i> Usage Report
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if loginReport}}active{{/if}}" href="/{{userRole}}/reports/reports?type=login">
                          <i class="img img-myreports"></i> Login Report
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                </div>
              </li>
              <li class="nav-item collapsible">
                <a class="nav-link collapsed" href="#matters" data-toggle="collapse">
                  <i class="img img-myreports"></i> School Matters
                </a>
                <div class="collapse" id="matters">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link {{#if notificationsPage}}active{{/if}}" href="/{{userRole}}/notifications/notifications">
                        <i class="img img-myreports"></i> Notifications
                      </a>
                    </li>
                    {{#unless studentUser}}
                      <li class="nav-item">
                        <a class="nav-link {{#if announcementsPage}}active{{/if}}" href="/{{userRole}}/announcements/announcements">
                          <i class="img img-myreports"></i> Announcements
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if facilityBookingPage}}active{{/if}}" href="/{{userRole}}/facility_booking/facility_booking">
                          <i class="img img-myreports"></i> Facility Booking
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if markAttendancePage}}active{{/if}}" href="/{{userRole}}/mark_attendance/mark_attendance">
                          <i class="img img-myreports"></i> Mark Attendance
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                </div>
              </li>
              {{#if adminUser}}
                <li class="nav-item collapsible">
                  <a class="nav-link collapsed" href="#administration" data-toggle="collapse">
                    <i class="img img-administration"></i> Administration
                  </a>
                  <div class="collapse" id="administration">
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link {{#if schoolPage}}active{{/if}}" href="/{{userRole}}/administration/manage_school">
                          <i class="img img-administration"></i> Manage School
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if userAccountPage}}active{{/if}}" href="/{{userRole}}/administration/manage_user_account">
                          <i class="img img-administration"></i> Manage User Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if formClassPage}}active{{/if}}" href="/{{userRole}}/administration/manage_form_class">
                          <i class="img img-administration"></i> Manage Form Class
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if schoolGroupPage}}active{{/if}}" href="/{{userRole}}/administration/manage_school_group">
                          <i class="img img-administration"></i> Manage School Group
                        </a>
                      </li>
                      <li class="nav-item d-none">
                        <a class="nav-link {{#if accessLevelsPage}}active{{/if}}" href="/{{userRole}}/administration/access_levels">
                          <i class="img img-administration"></i> Access Levels
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if loginAsStudentPage}}active{{/if}}" href="/{{userRole}}/administration/login_as_student">
                          <i class="img img-administration"></i> Login to Student Account
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if loginAsTeacherPage}}active{{/if}}" href="/{{userRole}}/administration/login_as_teacher">
                          <i class="img img-administration"></i> Login to Teacher Account
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              {{/if}}
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>

    <div class="modal modal-notification-view fade" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Results of Chinese Challenge</h5>
            <button type="button" class="close" title="Close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Congratulations to the following top 5 scorers!</p>
            <ol>
              <ol>
                <li>Chua Chin Hui</li>
                <li>Derrick Lee</li>
                <li>Siow Poh Piah Irene</li>
                <li>Tang Zi Hao</li>
                <li>Lei Jian</li>
              </ol>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <input id="userRole" type="hidden" value="{{userRole}}">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/loglevel/loglevel.js"></script>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/popper/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/static/moment/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <script src="/static/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/autocomplete.js/autocomplete.jquery.js"></script>
    <script src="/static/dropzone/dropzone.js"></script>
    <script src="/static/sortablejs/sortable.js"></script>
    <script src="/static/cropperjs/cropper.js"></script>
    <script src="/static/tinymce/tinymce.js"></script>
    <script src="/static/javascripts/application.js"></script>
    <script src="/static/javascripts/{{module}}.js"></script>
  </body>
</html>
